OPENAI_API_KEY = sk-your-api-key-here
OPENAI_MODEL = gpt-4.1-mini
ANTHROPIC_API_KEY = your-anthropic-api-key-here

LLM_TEMPERATURE=0.1


PRIMARY_PROVIDER=openai
PRIMARY_MODEL=gpt-4.1

FALLBACK_PROVIDER=openai #anthropic as a fallback provider is not yet supported, but will be in the future
FALLBACK_MODEL=gpt-4.1-mini

LLM_TIMEOUT=30
MAX_RETRIES=2

CACHE_DB=cache.db
